#footer {
	width: 1300px;
    background-color:rgba(15,56,78,0.4);
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#sit{
	width:60px;
	height:50px;
	border: 1px solid #fff;
	box-shadow: 0px 20px 25px rgba(0,0,0,0.2);
	}
body {
background-image:url("C:/LCS HTML/LCS/bck2.jpg"");
background-repeat:no-repeat;
background-position:top left;
background-size: 145% 100%;
}
p {
font-color:black;
font-size:1.5em;
font-family:"Georgia","Lucida Console";
font-weight:570;
text-shadow: 1px 0.5px rgba(0,0,0,0.4);
margin:100px 50px 50px 50px; 
padding:0;
}
.drop-menu1 {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 0px 0px;
    font-size: 22px;
    /*height: 400px;
    width: 400px;*/
    /*background: #fff;*/
   /* cursor: pointer;*/
    /*border: 1px solid #f6f0e4;*/
}
/*.drop-menu:hover .sub-menu {
    display: inline-block;*/
}
.sub-menu1 {
    display: none;
    /*width: 4000px;*/
    /*background: #fff;*/
    padding: 10px 10px;
    margin-left: -11px;
    margin-top: 10px;
    border: 1px solid;
    -webkit-box-shadow: 0px 13px 25px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
    box-shadow: 0px 13px 25px rgba(0,0,0,0.2);
}

.sub-menu1 li {
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #eaeaea;
        font-size: 25px;
        height: 35px;
        padding: 15px ;
        -webkit-transition: .7s ease-in-out;
  -moz-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
    }
.sub-menu1 li img {
            margin-right: .5em;
        }
.sub-menu1 li:hover {
        border-bottom: 1px dotted #bababa;
        -webkit-transform: translate(0.1em,0.5em);
        transform:translate(0.1em,0.5em);
        box-shadow:0px 15px 20px rgba(0,0,0,0.2);
    }